/node_modules/
/.vscode


/server/node_modules/
/server/dist/
/server/.env.*
/server/.env
!/server/.env.example
/server/schema.gql

/client/node_modules/
/client/.env
/client/dist/
/client/schema.gql
/client/src/graphql/generated/


